NEXT_PUBLIC_SUPABASE_URL=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVteWNjZ2locXZubHljdHdsYmdwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI1MTkxMDUsImV4cCI6MjA5ODA5NTEwNX0.newhsj-sxnFqWMPDD5b5wvyNCwcwOHmF7XqYl1ndDK4
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVteWNjZ2locXZubHljdHdsYmdwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI1MTkxMDUsImV4cCI6MjA5ODA5NTEwNX0.newhsj-sxnFqWMPDD5b5wvyNCwcwOHmF7XqYl1ndDK4
